<%= form_with(model: pedido_cliente) do |form| %>
  <% if pedido_cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido_cliente.errors.count, "error") %> prohibited this pedido_cliente from being saved:</h2>

      <ul>
        <% pedido_cliente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
