<p id="notice"><%= notice %></p>

<h1>Bebida Nao Alcoolicas</h1>

<table>
  <thead>
    <tr>
      <th>Codigo de barras</th>
      <th>Nome</th>
      <th>Valor</th>
      <th>Quantidade estoque</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bebida_nao_alcoolicas.each do |bebida_nao_alcoolica| %>
      <tr>
        <td><%= bebida_nao_alcoolica.codigo_de_barras %></td>
        <td><%= bebida_nao_alcoolica.nome %></td>
        <td><%= bebida_nao_alcoolica.valor %></td>
        <td><%= bebida_nao_alcoolica.quantidade_estoque %></td>
        <td><%= link_to 'Show', bebida_nao_alcoolica %></td>
        <td><%= link_to 'Edit', edit_bebida_nao_alcoolica_path(bebida_nao_alcoolica) %></td>
        <td><%= link_to 'Destroy', bebida_nao_alcoolica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bebida Nao Alcoolica', new_bebida_nao_alcoolica_path %>
